<launch>
   <!-- Frontier Parametes -->
  <arg name="rate" default="1"/>
  <arg name="namespace" default="drone"/>
  <arg name="odometry" default="/mavros/local_position/odom"/>
  <arg name="cloud_in" default="/camera/depth/points"/>
  <arg name="config_filename" default="$(find uav_frontier_exploration_3d)/config/UAV.yaml"/>



  <!-- Clustering Parameters -->
  <arg name="obstacle_voxel" default="obstacle_voxel"/>
  


  <!-- Launch UAV frontier exporation -->
  <group ns="$(arg namespace)">
    <node name="frontier_server_node" pkg="uav_frontier_exploration_3d" type="frontier_server_node" output="screen">
      <param name="rate" value="$(arg rate)"/>
      <param name="exploration_config_filename" value="$(arg config_filename)"/>
      <remap from="cloud_in" to="$(arg cloud_in)"/>
      <remap from="odometry" to="$(arg odometry)"/>
      <remap from="namespace" to="$(arg namespace)"/>
      <!-- <remap from="point_reached" to="$(arg point_reached)"/> -->
    </node>

     <!-- Launch UAV clustering -->
    <node pkg="uav_frontier_exploration_3d" type="ClusteringVoxel.py" name="ClusteringVoxel" output="screen">
      <param name="quantile" value="0.05" /> 
      <param name="frame" value="odom" />
      <param name="marker_ns" value="uav_cluster" />
      <remap from="obstacle_voxel" to="$(arg obstacle_voxel)"/>
    </node>
   </group>



</launch>

